[Unit]
Description=Raptor OS - Set zram size based on system RAM
After=swap.target
Before=graphical.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/raptor-zram-init.sh

[Install]
WantedBy=multi-user.target
