[Unit]
Description=Raptor OS First-Boot Setup Dialog
After=graphical-session.target
ConditionEnvironment=DISPLAY

[Service]
Type=oneshot
ExecStart=/usr/bin/raptor-app-choice.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal
SuccessExitStatus=0 1

[Install]
WantedBy=graphical-session.target
